 body{
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke; 
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
 .child1-container{
    margin: 0;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
 }
 .logo{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: 	#1877F2;
 }
 .loginform{
    background-color: white;
    width: 400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
 }
 .main-content{
    padding: 10px;
 }
 .login-content{
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 10px;
 }
 .login-inputs{
    display: flex;
    width: 90%;
    justify-content: space-between;
 }
.input-field{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-field:hover{
    border: 1px solid black;
}
.btn-log{
    width: 100%;
    padding: 10px;
    background-color: #1877F2;
    color: white;
    border: 1px solid #1877F2;
    border-radius: 5px;
}
.child2-container{
    margin-top: 15px;
}
.forgot{
    color: #1877F2;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
.child3-container{
    position: relative;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
.child3-container::before{
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position: absolute;
    top: 50%;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}
.child3-container::after{
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position: absolute;
    top: 50%;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}
.child4-container{
    margin-top: 15px;
    margin-bottom: 30px;
}
.create-btn{
    background-color: #42b72a;
    border: 1px #42b72a solid;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
